.top-bar{
	background-color: #fdc58b;
	height: 3.75rem;
}

.has-dropdown not-click{
	
}

.top-bar img{
height: 3.3rem;
padding-top: 5px;
box-sizing: border-box;
}

.top-bar-section .has-dropdown{
	height: 3.75rem;

}

.top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 3.75rem;
	background-color: #732626;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
	background: #A63737;
	color: white;
}
.opt {.top-bar-section li:not(.has-form) a:not(.button)  {
	line-height: 1rem;

}
}

.top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 3.75rem;

}

.top-bar-section ul li {
background: #8C001A;
color: white;

}

.intro{
	text-align: justify;
	padding: .8rem .4rem 1.55rem;
}

.button {
	
	background-color: #D35E28;
	font-family: 'Nunito Sans', sans-serif;
	height: 5rem;
	line-height: 2.5rem;
	font-size: 1.2rem;
	border-radius: 3px;
	font-family: 'Nunito Sans', sans-serif;
	margin-bottom: 4rem;
}


 button:hover, button:focus, .button:hover, .button:focus {
    background-color: #BE5524; }


body, h5, h4{
	font-family: 'Nunito Sans', sans-serif;
}

.top-bar-section ul li > a {
	font-family: 'Nunito Sans', sans-serif;
}

h3{
	font-family: 'Rubik One', sans-serif;
	text-align: center;
}



.footer {
  background-color:#a63737;
  color: #fff;
  text-align: center;
  font-size: .8rem;
  font-family: 'Nunito Sans', sans-serif;
  padding: 1.8rem 1rem .4rem; }
  .footer .inline-list a {
  	font-family: 'Nunito Sans', sans-serif;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0; }
  .footer .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff; }
    .footer .contact li {
    	font-family: 'Nunito Sans', sans-serif;
      margin-bottom: 1.2rem; }
      .footer .contact li p {
      	font-family: 'Nunito Sans', sans-serif;
        padding-left: 5rem; }
    .footer .contact i {
      position: absolute;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em; }
  .footer .copywrite {
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .about {
    font-size: 0.875rem;
    margin: 0 0 1rem 0; }
  .footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem; }
    .footer .footer-links a::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem; }
    .footer .footer-links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }
  @media only screen and (min-width: 40.063em) {
    .footer p {
      text-align: left; }
    .footer .social {
      text-align: left;
      margin: 0; }
    .footer .contact {
      text-align: left; }
      .footer .contact > i {
        margin-right: 1rem; } }

        .subheader {
        	color: white;

	        }

	.footer a{
		color: white;
	}

	.footer .fa{
		padding-right: .8rem;
	}


	.aboutus{
		padding: 5rem 2rem 1rem;
	}

	.abouttext{
		padding-bottom: 6rem; 
	}

	.form{
		padding: 4rem 12rem;
	}



  .icons a{
    color: black;
  }

  .icons .fa{
    color: black;
  }


  .explain a{
    color: black;
  }

  .explain .fa{
    margin-left: 5rem;
  }
