.top-bar{
	background-color: #fdc58b;
	height: 3.75rem;
}

.has-dropdown not-click{
	
}

.top-bar img{
height: 3.3rem;
padding-top: 5px;
box-sizing: border-box;
}

.top-bar-section .has-dropdown{
	height: 3.75rem;

}

.top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 3.75rem;
	background-color: #732626;
}

.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button) {
	background: #A63737;
	color: white;
}
.opt {.top-bar-section li:not(.has-form) a:not(.button)  {
	line-height: 1rem;

}
}

.top-bar-section li:not(.has-form) a:not(.button) {
	line-height: 3.75rem;

}

.top-bar-section ul li {
background: #8C001A;
color: white;

}


footer, footer h4 {
    background-color:#a63737;
    color: white;
    font-size: .8rem;
}

body, h5, h4, h6{
	font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3{
	font-family: 'Rubik One', sans-serif;

}

svg{
	padding: 3rem;
}


.one{
	color: #FDC58B;
}

.two{
	color: #E59A59;
}

.three{
	color: #D35E28;
}

.four{
	color: #A63737;
}

.five{
	color: #732626;
}